:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --button-bg: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Logo*/
.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent {
  color: var(--primary-black-color);
}
.accent-footer {
  color: var(--primary-white-color);
}

/*Навигация сайта*/

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/*Контакты*/

.contacts-link .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link .link:hover,
.contacts-link .link:focus {
  color: var(--accent-color);
}

/*-- Герой --*/
.hero {
  background-color: var(--background-color);
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Button hero*/

.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
}

/*Принципы работы*/

.title-none {
  display: none;
}

/*Section*/
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-description {
  color: var(--primary-text-color);
}

/*Чем мы занимаемся*/

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/*Команда*/
.subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.subtitle-text {
  color: var(--primary-text-color);
  text-align: center;
}

/*Footer*/

.footer {
  background-color: var(--background-color);
}

.address-link {
  color: var(--primary-white-color);
}

.list {
  font-style: normal;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Portfolio*/

.portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  color: var(--primary-text-color);
  line-height: 1.87;
}

/*Radiobutton*/

.button {
  color: var(--title-text-color);
  background-color: var(--button-bg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
